<template>
  <div class="container">
    <div class="login">
      <el-card>
        <h2>Login</h2>
        <el-form
            class="login-form"
            :model="model"
            :rules="rules"
            ref="form"
            @submit.native.prevent="login"
        >
          <el-form-item prop="username">
            <el-input v-model="model.username" placeholder="Username" prefix-icon="el-icon-user"></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
                v-model="model.password"
                placeholder="Password"
                type="password"
                prefix-icon="el-icon-lock"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button
                :loading="loading"
                class="login-button"
                type="primary"
                native-type="submit"
                block
            >Login
            </el-button>
          </el-form-item>
          <a class="forgot-password" href="#">Forgot password ?</a>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      validCredentials: {
        username: "lightscope",
        password: "lightscope"
      },
      model: {
        username: "",
        password: ""
      },
      loading: false,
      rules: {
        username: [
          {
            required: true,
            message: "Username is required",
            trigger: "blur"
          },
          {
            min: 4,
            message: "Username length should be at least 5 characters",
            trigger: "blur"
          }
        ],
        password: [
          {required: true, message: "Password is required", trigger: "blur"},
          {
            min: 5,
            message: "Password length should be at least 5 characters",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    async login() {
      let valid = await this.$refs.form.validate();
      if (!valid) {
        return;
      }
      this.loading = true;

      let username = this.model.username
      let password = this.model.password
      this.$store.dispatch('login', {username, password})
          .then(() => this.$router.push('/swipe'))
          .catch(err => {
            this.$message.error("Username or password is invalid");
            console.log(err)
          })
      this.loading = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 100%;
}

.login-form {
  width: 290px;
}

.forgot-password {
  margin-top: 10px;
}
</style>

<style lang="scss" scoped>


$teal: rgb(64, 158, 255);
.el-button--primary {
  background: $teal;
  border-color: $teal;

  &:hover,
  &.active,
  &:focus {
    background: lighten($teal, 7);
    border-color: lighten($teal, 7);
  }
}

.login .el-input__inner:hover {
  border-color: $teal;
}

.login .el-input__prefix {
  background: rgb(238, 237, 234);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 3px;

  .el-input__icon {
    width: 30px;
  }
}

.login .el-input input {
  padding-left: 35px;
}

.login .el-card {
  padding-top: 0;
  padding-bottom: 30px;
}

h2 {
  padding-bottom: 20px;
}

a {
  color: $teal;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: lighten($teal, 7);
  }
}

.login .el-card {
  width: 340px;
  display: flex;
  justify-content: center;
}
</style>
