<template>
  <div class="container">
    <h1>Registration form</h1>
    <el-form :validate-on-rule-change=false :label-position="'left'" :model="regForm" ref="ruleForm" :rules='rules'
             label-width="160px">

      <el-form-item label="Email" prop="email">
        <el-input v-model="regForm.email"></el-input>
      </el-form-item>

      <el-form-item label="Username" prop="username">
        <el-input v-model="regForm.username"></el-input>
      </el-form-item>

      <el-form-item label="Password" prop="password">
        <el-input v-model="regForm.password" type="password"></el-input>
      </el-form-item>

      <el-form-item label="Sex" prop="sex">
        <el-radio-group v-model="regForm.sex">
          <el-radio label="Male" value="MALE"></el-radio>
          <el-radio label="Female" value="FEMALE"></el-radio>
        </el-radio-group>
      </el-form-item>


      <el-form-item label="Birthdate" prop="birthdate">
        <el-date-picker type="date" placeholder="Pick a date" v-model="regForm.birthdate"
                        style="width: 100%;"></el-date-picker>
      </el-form-item>

      <el-form-item label="Preferred relationship" prop="preference_relationship">
        <el-radio-group v-model="regForm.preference_relationship">
          <el-radio label="Friend" value="FRIEND"></el-radio>
          <el-radio label="Relationship" value="RELATIONSHIP"></el-radio>
          <el-radio label="Sex" value="SEX"></el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item label="Preferred gender" prop="preference_gender">
        <el-radio-group v-model="regForm.preference_gender">
          <el-radio label="Male" value="MALE"></el-radio>
          <el-radio label="Female" value="FEMALE"></el-radio>
          <el-radio label="Both" value="BOTH"></el-radio>
        </el-radio-group>
      </el-form-item>


      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')">Register</el-button>
      </el-form-item>

    </el-form>
  </div>
</template>


<script>
export default {
  data() {
    return {
      regForm: {
        email: '',
        username: '',
        password: '',
        birthdate: '',
        preference_relationship: '',
        preference_gender: '',
      },
      rules: {
        email: [
          {required: true, message: "Please input email address", trigger: 'change'},
          {pattern: /^\S+@\S+\.\S+$/, message: "Please input correct email address", trigger: 'blur'}
        ],
        username: [
          {required: true, message: 'Please input username', trigger: 'change'},
          {min: 1, max: 150, message: 'Length of the username should be from 1 to 150', trigger: 'blur'}
        ],
        password: [
          {required: true, message: 'Please input password', trigger: 'change'},
          {min: 8, message: 'This password is too short. It must contain at least 8 characters.', trigger: 'blur'},
        ]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let data = {
            email: this.regForm.email,
            username: this.regForm.username,
            password: this.regForm.password,
            birthdate: this.regForm.birthdate,
            preference_relationship: this.regForm.preference_relationship,
            preference_gender: this.regForm.preference_gender,
          }
          console.log("DATA PAYLOAD: " + data.toString())
          this.$store.dispatch('register', data)
              .then(() => {
                this.$message.success("Registration successful!");
                this.$router.push('/login')
              })
              .catch(err => {
                this.$message.error("Registration failed");
                console.log(err)
              })
        } else {
          console.log('Input data is not validated');
          return false;
        }
      });
    },
  }
}
</script>

<style lang="scss" scoped>
h1 {
  padding-bottom: 30px;
}
</style>