<template>
  <div class="container">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h1>Username</h1>
      </div>
      <el-row>
        <el-col>
          <div class="text item">Distance:</div>
        </el-col>
        <el-col></el-col>
      </el-row>
      <el-row>
        <el-col>
          <div class="text item">Age:</div>
        </el-col>
        <el-col></el-col>
      </el-row>
      <el-row>
        <el-col>
          <div class="text item">Zodiac sign:</div>
        </el-col>
        <el-col></el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-button type="danger">Swipe Left</el-button>
        </el-col>
        <el-col :span="6">
          <el-button type="success">Swipe Right</el-button>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "Swipe"
}
</script>

<style lang="scss" scoped>
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  width: 480px;
}
</style>